[configuration]
entry_symbol = "csi_camera_library_init"
compatibility_minimum = "4.7"

[libraries]
linux.arm64.release = "res://addons/csi_camera/bin/libcsi_camera.linux.arm64.so"
linux.arm64.debug = "res://addons/csi_camera/bin/libcsi_camera.linux.arm64.so"
